.current-project-box {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-project-container {
  width: 954px;
  margin-top: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 8px 40px rgba(0, 0, 0, 0.04);
  padding: 16px 5rem;
  border-radius: 14px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

.project-card h3 {
  color: #333;
}

.project-card p {
  color: #666;
}

.project-card a {
  width: fit-content;
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.project-card a:hover {
  text-decoration: underline;
}



/* Desktop */
@media (max-width: 1024px) {
  .current-project-container {
      width: 80%;
      padding: 16px 3rem;
  }

  .project-card {
      margin-top: 15px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .current-project-container {
      width: 90%;
      padding: 16px 2rem;
  }

  .project-card {
      padding: 15px;
      margin-top: 12px;
  }

  .project-card h3 {
      font-size: 1.1rem;
  }

  .project-card p {
      font-size: 0.9rem;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .current-project-box {
      padding: 0 1rem;
  }

  .current-project-container {
      width: 100%;
      padding: 16px 1rem;
  }

  .project-card {
      padding: 10px;
      margin-top: 10px;
  }

  .project-card h3 {
      font-size: 1rem;
  }

  .project-card p {
      font-size: 0.85rem;
  }

  .project-card a {
      font-size: 0.9rem;
  }
}
