.feednavbar-container{
    width: 58rem;
    height: 61px;
    background-color: transparent; 
    display: flex;
    align-items: center;
    justify-content: start;
}

.feednavbar-container >a{
    margin: 0 15px 0 15px;
    font-weight: 700;
}

/* .feednavbar-container >a:hover{
    color: #ff5f5f;
} */

.active-link{
    color: red;
}
.normal-link{
    color: black;
}
