.hero-container{
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    top: 100px;
}

.hero-container-bg {
    aspect-ratio: 3 / 1;
    max-height: 318px;
    height: 100%;
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
    overflow: hidden;
    /* position: relative; */
    background-color: transparent;
    color: black;
}

.hero-container-bg img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 0 0 14px 14px;
}

.profile-feednav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}




/* Desktop */
@media (max-width: 1024px) {
    .hero-container {
        padding: 0 0.5rem;
        top: 80px;
    }

    .hero-container-bg {
        max-height: 250px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .hero-container {
        padding: 0 0.5rem;
        top: 60px;
    }

    .hero-container-bg {
        max-height: 200px;
    }

    .profile-feednav {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .hero-container {
        padding: 0 0.25rem;
        top: 40px;
    }

    .hero-container-bg {
        max-height: 150px;
    }

    .profile-feednav {
        flex-direction: column;
        align-items: center;
    }
}
