.post-sec-full-box-container{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-container-box{
    width: 45rem;
    background-color: transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 8px 40px rgba(0, 0, 0, 0.04);
    padding: 16px 2rem;
    border-radius: 14px;
    overflow: hidden;
    transition: height 0.3s ease;
    margin-top: 30px;
}

.feed-post-head{
    /* margin-bottom: 10px; */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.feed-post-head h3{
    margin-bottom: 10px;
}



/* Desktop */
@media (max-width: 1024px) {
    .feed-container-box {
        width: 80%;
        padding: 16px 1.5rem;
    }

    .feed-post-head h3 {
        font-size: 1.2rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .feed-container-box {
        width: 90%;
        padding: 16px 1rem;
    }

    .feed-post-head h3 {
        font-size: 1.1rem;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .post-sec-full-box-container {
        padding: 0 1rem;
    }

    .feed-container-box {
        width: 100%;
        padding: 16px 0.5rem;
    }

    .feed-post-head {
        flex-direction: column;
        align-items: flex-start;
    }

    .feed-post-head h3 {
        font-size: 1rem;
    }
}
