.navbar-container {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 20rem;
    height: 65px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.homelogo {
    width: 40px;
}

.nav-links {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}

.nav-links > a {
    margin: 10px 10px;
}

.super {
    width: 199px;
    height: fit-content;
    background-color: #ff5f5f ;
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

.super:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

.content {
    margin-top: 65px; 
}
.navbar-toggle img{
    display: none;
    width: 30px;
}



/* responsive */

/* Desktop */
@media (max-width: 1024px) {
    .navbar-container {
        padding: 0 10rem;
    }

    .super {
        padding: 10px 30px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .navbar-container {
        padding: 0 5rem;
    }

    .nav-links > a {
        margin: 8px 8px;
    }

    .super {
        padding: 10px 20px;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .navbar-container {
        padding: 0 1rem;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .navbar-toggle img {
        display: block;
    }

    .super {
        padding: 10px 15px;
    }
}
