.resume-main-container {
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-container {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    width: 700px;
    background-color: transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 8px 40px rgba(0, 0, 0, 0.04);
    padding: 50px;
    border-radius: 14px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.resume-main-container {
    background-color: transparent;
}

.header-section {
    text-align: center;
}

.name {
    color: #333; 
    font-size: 2.5rem; 
    margin-bottom: 5px;
}
.job-title {
    color: #666;
    font-size: 1.2rem;
}

.section-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.education-item,
.experience-item,
.skill-item,
.contact-item {
    color: #555;
    font-size: 1.1rem;
}

.responsibilities-title {
    color: #333;
    font-weight: bold;
    margin-top: 15px;
}

.responsibility-item {
    color: #555;
    font-size: 1rem;
    margin-left: 20px;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}



/* Desktop */
@media (max-width: 1024px) {
    .resume-container {
        width: 80%;
        padding: 40px;
    }

    .name {
        font-size: 2rem;
    }

    .job-title {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.3rem;
    }

    .education-item,
    .experience-item,
    .skill-item,
    .contact-item {
        font-size: 1rem;
    }

    .responsibilities-title {
        margin-top: 10px;
    }

    .responsibility-item {
        margin-left: 15px;
        font-size: 0.9rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .resume-container {
        width: 90%;
        padding: 30px;
    }

    .name {
        font-size: 1.8rem;
    }

    .job-title {
        font-size: 0.9rem;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .education-item,
    .experience-item,
    .skill-item,
    .contact-item {
        font-size: 0.9rem;
    }

    .responsibilities-title {
        margin-top: 8px;
    }

    .responsibility-item {
        margin-left: 12px;
        font-size: 0.8rem;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .resume-container {
        width: 100%;
        padding: 20px;
    }

    .name {
        font-size: 1.5rem;
    }

    .job-title {
        font-size: 0.8rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .education-item,
    .experience-item,
    .skill-item,
    .contact-item {
        font-size: 0.8rem;
    }

    .responsibilities-title {
        margin-top: 6px;
    }

    .responsibility-item {
        margin-left: 10px;
        font-size: 0.7rem;
    }
}
