@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Nunito';
    src: url(./assets/font/Nunito-VariableFont_wght.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
}

#root {
    width: 100vw;
    height: fit-content;
    align-items: center;
}

body {
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Track when scrollbar is active (scrolling) */
::-webkit-scrollbar-track-piece:end {
    background-color: #111;
}

/* Corner */
::-webkit-scrollbar-corner {
    background: #333;
}

.margin-top {
    margin: 20px;
}

/*
Responsive 3 screen sizes (mobile, tablet, desktop)
mobile : 320px
tablet : 768px
desktop : 1024px
*/


/* Desktop */
@media (max-width: 1024px) {}

/* Tablet */
@media (max-width: 768px) {}

/* Mobile */
@media (max-width: 500px) {

}